# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/
.eggs/

# Virtual envs
.venv/
venv/
env/

# Data & model weights
datasets/
checkpoints/
cache/
*.pth
*.pt
*.pkl
*.h5

# Logs
logs/
*.log
runs/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# NLTK
nltk_data/
